extends layout

block content 
    h1 Form
    form(id="form" action="/new" method="POST")
        input(type="text", name="input", id="input", value="", placeholder="Wow it's a mini message board", required)
        br 
        input(type="text", name="username", id="username", placeholder="enter username", required)
        br
        button(type="submit", id="submitBtn") submit 