extends layout

block content 
    h1 Submit a message
    div(id="form-container")
        form(id="form" action="/new" method="POST")
            textarea(type="text", name="input", id="messageInput", value="", placeholder="Enter your message")
            br 
            input(type="text", name="username", id="username", placeholder="Enter your username")
            br
            button(type="submit", id="submitBtn") submit
            a(href='/', id="backBtn") back