extends layout

block content
  h1= title
  each obj in messages 
    p= obj.text
    p= obj.user
    p= obj.added
  form(action="/form")
    input(type="submit", value="submit message", id="messageBtn")