extends layout

block content
  h1= title
  each obj in messages 
    ul 
      li(class="message")= obj.text
      div(class="container")
        li(class="user")= obj.user
        li(class="date")= obj.added
  form(action="/form")
    input(type="submit", value="write a message", id="messageBtn")
  footer Mini Message Board © 2022 made by &nbsp;
    a(href="https://github.com/qymmore") qymmore 